.btn {
    width: 55%;
    padding: 10px 20px 10px 15px;
    font-size: 16px;
    display: block;
    margin: 1rem auto;
}
.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%
}

.right {
    flex: 1;
    position: relative;
}
.about .left {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 360px;
}
 
.about .left p{
    margin: 0.9rem 0;

}

